:root{
  --colorMain: #19d4a2;
  --colorSecond: #212b41;
  --colorComp: #2e3951;
  --active: #95a8a0;
  --hover: white;
  --gradient: linear-gradient(45deg, rgba(161,209,182,1) 0%, rgba(147,225,214,1) 100%);
  --radius: 0.625rem;
  --font: 'Rubik', sans-serif;
  --colorBorder: transparent;
}
*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}
body{
  background: var(--gradient);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.calculator{
  width: 400px;
}
.displayBox{
  font-family: var(--font);
  overflow-wrap: break-word;
  font-weight: 300;
  background: var(--colorSecond);
  color: var(--colorMain);
  font-size: 3em;
  text-align: right;
  padding: 1.50rem 1.25rem;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  letter-spacing: 0.2rem;
}
.keyboard{
  font-weight: 400;
  background: var(--colorComp);
  color: var(--active);
  padding: 1.25rem;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}
.row{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.btn{
  font-family: var(--font);
  background: transparent;
  color: var(--active);
  font-size: 1.5em;
  cursor: pointer;
  padding: 0.625rem;
  margin: 0.625rem;
  flex-basis: 15%;
  max-height: 3.375rem;
  min-height: 3.375rem;
  border: 1px solid transparent;
  border-radius: 100%;
  transition: all 0.2s ease-in-out;
}
.btn:hover{
  border: 1px solid var(--hover);
  color: var(--hover);
}
.hidden{
  visibility: hidden;
}
.btnOperator{
  background: var(--colorSecond);
  color: var(--colorMain);
}
.btnOperator:hover{
  background: var(--colorMain);
  color: var(--colorSecond);
  border: 1px solid var(--colorBorder);
}
.equals{
  flex-basis: 42%;
  border-radius: 50px;
}
.darkMode{
  margin-top: 20px;
}
.darkMode button{
  margin: 0 10px;
  display: inline-block;
  padding: 15px 25px;
  cursor: pointer;
  border-radius: var(--radius);
  font-size: 1em;
}
.dark{
  background: #34495e;
  color: white;
}
.light{
  background: #ecf0f1;
}